function Main.main 4
call Piece.getPieces 0
pop local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Piece.getBody 1
pop local 2
push constant 0
push local 2
add
pop pointer 1
push that 0
pop local 3
push local 3
call Point.getX 1
push local 3
call Point.getY 1
call Renderer.renderBrick 2
pop temp 0
push constant 1
push local 2
add
pop pointer 1
push that 0
pop local 3
push local 3
call Point.getX 1
push local 3
call Point.getY 1
call Renderer.renderBrick 2
pop temp 0
push constant 2
push local 2
add
pop pointer 1
push that 0
pop local 3
push local 3
call Point.getX 1
push local 3
call Point.getY 1
call Renderer.renderBrick 2
pop temp 0
push constant 3
push local 2
add
pop pointer 1
push that 0
pop local 3
push local 3
call Point.getX 1
push local 3
call Point.getY 1
call Renderer.renderBrick 2
pop temp 0
push constant 0
return
